In [33]:
# Strock prices at 5 minute intervals 
# 10,000 Shares First Investment 
# $4,300 Profit
# Purchased at 10:00 am
# Sold at 11:00 am

stock_price = [1.42, 1.32, 1.45, 1.20, 1.34, 1.74, 1.10, 1.89, 1.42, 1.90, 1.80, 1.85]

time = ["10:00", "10:05", "10:10", "10:15", "10:20", "10:25", "10:30", "10:35", "10:40", "10:45", "10:55", "11:00"]

print(stock_price, time)

[1.42, 1.32, 1.45, 1.2, 1.34, 1.74, 1.1, 1.89, 1.42, 1.9, 1.8, 1.85] ['10:00', '10:05', '10:10', '10:15', '10:20', '10:25', '10:30', '10:35', '10:40', '10:45', '10:55', '11:00']

In [35]:
trading = {'time': time, 'stock_price':stock_price}
trading

{'time': ['10:00',
  '10:05',
  '10:10',
  '10:15',
  '10:20',
  '10:25',
  '10:30',
  '10:35',
  '10:40',
  '10:45',
  '10:55',
  '11:00'],
 'stock_price': [1.42,
  1.32,
  1.45,
  1.2,
  1.34,
  1.74,
  1.1,
  1.89,
  1.42,
  1.9,
  1.8,
  1.85]}

In [36]:
import pandas as pd

In [38]:
df = pd.DataFrame(trading)
df

     time  stock_price
0   10:00         1.42
1   10:05         1.32
2   10:10         1.45
3   10:15         1.20
4   10:20         1.34
5   10:25         1.74
6   10:30         1.10
7   10:35         1.89
8   10:40         1.42
9   10:45         1.90
10  10:55         1.80
11  11:00         1.85

In [67]:
daily_mean = df["stock_price"].mean()
daily_mean

1.5358333333333336

In [56]:
min_price = min(stock_price)
print(f"Minimun Stock Price: {min_price}")

max_price = max(stock_price)
print(f"Maximun Stock Price: {max_price}")

Minimun Stock Price: 1.1
Maximun Stock Price: 1.9

In [62]:
shares = 10000
investment = shares * min_price
investment

11000.0

In [74]:
max_profit = shares * max_price - shares * min_price
max_profit

8000.0

In [ ]:
min_profit = shares * max_price - shares * min_price
max_profit