### Import Libraries and Dependencies

You've caught the multi-indexing fever! Add power to your financial analytic pipelines by indexing your data by month and year with a DatetimeIndex.

## Instructions


1. Extract three months of historical data from [Google Sheets](https://docs.google.com/spreadsheets/) via the in-built Google Finance function, and load the CSV data into Pandas using `read_csv`.

2. In the `read_csv` function, set the index to equal `Date` series. Enable read_csv's `parse_dates` and `infer_datetime_format` parameters.

3. Group data by DatetimeIndex year and month.

4. Select close price for `GOOG` for May 2019 by passing in values for `year` and `month` indices.

### Challenge

Take this activity to the next level by calculating the mean close price for `GOOG` for all of `2019`.

### Hints

* Additional information about `DatetimeIndex` capabilities can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html).

In [1]:
import pandas as pd

### Read CSV in as Pandas DataFrame

In [9]:
# Read csv data

goog_df = pd.read_csv(
    "goog_google_finance.csv", parse_dates=True, index_col="Date", infer_datetime_format=True
)
goog_df.head()

              Close
Date
2019-05-13  1132.03
2019-05-10  1164.27
2019-05-09  1162.38
2019-05-08  1166.27
2019-05-07  1174.10

### Assess & Clean Data

In [4]:
# Check for nulls
goog_df.isnull().sum() 

# Drop nulls
goog_df = goog_df.dropna()

# Drop duplicates
goog_df = goog_df.drop_duplicates()

# Validate no more missing values
goog_df.isnull().sum()

Close    0
dtype: int64

### Group by `year` and `month`

In [14]:
goog_df_group = goog_df.groupby([goog_df.index.year, goog_df.index.month]).first()
goog_df_group

             Close
Date Date
2019 2     1119.92
     3     1173.31
     4     1188.48
     5     1132.03

### Access `Close` for May 2019 Using Multi-Indexing Lookup

In [13]:
df_slice = goog_df_group.loc[2019,5]
df_slice

Close    1167.17
Name: (2019, 5), dtype: float64

### Calculate `mean` close price of GOOG for 2019

In [15]:
goog_df_mean = goog_df.groupby([goog_df.index.year, goog_df.index.month]).mean()
goog_df_mean

                 Close
Date Date
2019 2     1113.235385
     3     1179.197619
     4     1226.226190
     5     1167.170000