### Import Libraries and Dependencies

In [24]:
import pandas as pd

it is very common to sort values in ascending or descending order.

Pandas provides a function for this called sort_values that will sort a DataFrame by a column.

This function can be used to find the highest or lowest daily returns from stock data.

### Create DataFrame

A DataFrame can be created from lists or dictionaries. 

In this example, a DataFrame of painting prices is supplied as a list of Python dictionaries, which we convert to a DataFrame.

In [25]:
df = pd.DataFrame(
    [
        {"Painting": "Mona Lisa (Knockoff)", "Price": 25, "Popularity": "Very Popular"},
        {"Painting": "Van Gogh (Knockoff)", "Price": 20, "Popularity": "Popular"},
        {"Painting": "Starving Artist", "Price": 10, "Popularity": "Average"},
        {"Painting": "Toddler Drawing", "Price": 1, "Popularity": "Not Popular"},
    ]
)

df

               Painting  Price    Popularity
0  Mona Lisa (Knockoff)     25  Very Popular
1   Van Gogh (Knockoff)     20       Popular
2       Starving Artist     10       Average
3       Toddler Drawing      1   Not Popular

### Sort Data
The DataFrame can be sorted by any column using sort_values. In this example, the DataFrame is sorted in ascending order (the default) by price.

In [26]:
# Sort ascending (default)
df.sort_values("Price")

               Painting  Price    Popularity
3       Toddler Drawing      1   Not Popular
2       Starving Artist     10       Average
1   Van Gogh (Knockoff)     20       Popular
0  Mona Lisa (Knockoff)     25  Very Popular

The DataFrame can also be sorted in descending order using the ascending=False parameter.

In [27]:
# Sort descending
df.sort_values("Price", ascending=False)

               Painting  Price    Popularity
0  Mona Lisa (Knockoff)     25  Very Popular
1   Van Gogh (Knockoff)     20       Popular
2       Starving Artist     10       Average
3       Toddler Drawing      1   Not Popular

### Sorting the index
The DataFrame can also be sorted by the index.

In [28]:
df.sort_index(ascending=True)

               Painting  Price    Popularity
0  Mona Lisa (Knockoff)     25  Very Popular
1   Van Gogh (Knockoff)     20       Popular
2       Starving Artist     10       Average
3       Toddler Drawing      1   Not Popular

In [29]:
# Set the price as the index
df = df.set_index("Price")
df

                   Painting    Popularity
Price
25     Mona Lisa (Knockoff)  Very Popular
20      Van Gogh (Knockoff)       Popular
10          Starving Artist       Average
1           Toddler Drawing   Not Popular

Additionally we can set a new index and then sort. In the following example we set the Price column as the index and then sort based on descending price values.

In [31]:
# Sort the index in descending order

df.sort_index(ascending=False)

                   Painting    Popularity
Price
25     Mona Lisa (Knockoff)  Very Popular
20      Van Gogh (Knockoff)       Popular
10          Starving Artist       Average
1           Toddler Drawing   Not Popular

In [32]:
df.sort_index(ascending=True)

                   Painting    Popularity
Price
1           Toddler Drawing   Not Popular
10          Starving Artist       Average
20      Van Gogh (Knockoff)       Popular
25     Mona Lisa (Knockoff)  Very Popular