# Out of Sorts

You're trying to identify the top 5 performing days for Tesla investment returns, but you have over a hundred days' worth of data, and nothing is sorted. Sort the stock data in descending order to identify the top 5 performing days.

## Instructions

Using the [starter file](Unsolved/out_of_sorts.ipynb) and Google Finance historical stock data, complete the following steps:

1. Navigate to [Google Sheets](https://docs.google.com/spreadsheets/) and use the in-built Google Finance function to download ticker data. Load the CSV data into Pandas using the `read_csv` function.

2. Index data by `Date`.

3. Clean the data.

4. Output a sample of the data.

5. Calculate daily returns.

6. Sort the DataFrame by `Close` in descending order using `sort_values` to obtain top daily return records. 

7. Slice out 5 records.

8. Plot the data.

---


### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline

### Read CSV as Pandas DataFrame

In [2]:
# Read in csv

tsla_df = pd.read_csv("tsla_google_finance.csv")
tsla_df.head()

       Date   Close
0  11/13/18  338.73
1  11/14/18  344.00
2  11/15/18  348.44
3  11/16/18  354.31
4  11/19/18  353.47

### Index Data by `Date`

In [3]:
# Set `Date` as index
tsla_df = tsla_df.set_index('Date')
tsla_df.head()

           Close
Date
11/13/18  338.73
11/14/18  344.00
11/15/18  348.44
11/16/18  354.31
11/19/18  353.47

### Assess and Clean Data

In [7]:
# Check for nulls
tsla_df.isnull().sum()

# Drop missing values
tsla_dr = tsla_df.pct_change()
print(tsla_dr)

# Validate no more missing values

             Close
Date
11/13/18       NaN
11/14/18  0.015558
11/15/18  0.012907
11/16/18  0.016847
11/19/18 -0.002371
...            ...
5/8/19   -0.008986
5/9/19   -0.011681
5/10/19  -0.010166
5/13/19  -0.052229
5/14/19   0.023347

[124 rows x 1 columns]

### Calculate Daily Returns

In [5]:
# Calculate daily returns

             Close
Date
11/13/18       NaN
11/14/18  0.015558
11/15/18  0.012907
11/16/18  0.016847
11/19/18 -0.002371

### Sort the DataFrame by `Close` to Get Records with Top Daily Returns

In [12]:
# Sort data by `Close` in descending order

tsla_dr = tsla_dr.sort_values("close", ascending = False)
tsla_dr

KeyError: 'close'

### Slice Out 5 Records

In [13]:
# Slice out top 5
tsla_dr_slice = tsla_dr.iloc[:5]
tsla_dr_t5

NameError: name 'tsla_dr_t5' is not defined

### Plot Top 5 Performing Days for TSLA Daily Returns

In [14]:
# Plot top 5 performing days
tsla_dr_t5.plot()

NameError: name 'tsla_dr_t5' is not defined

In [16]:
# Alternatively, visualizing the returns as a bar chart:
tsla_dr_t5.plot(kind='bar')

NameError: name 'tsla_dr_t5' is not defined