# Review

### List

In [1]:
# Create a list of programming language

programming_language = ['java','R','C++','python']
print(programming_language)

['java', 'R', 'C++', 'python']

In [2]:
#Indexing/Slicing

programming_language = ['java','R','C','C++','python','javascript','html']

# access element of list by index
print(programming_language[0])

# Print elements from index 2 to index 4
print(programming_language[2:5]) 

# Print elements from index 3 to the end of the list
print(programming_language[3:])

# Print the last element of the list
print(programming_language[-1])

#print length of list.
print(len(programming_language))

java
['C', 'C++', 'python']
['C++', 'python', 'javascript', 'html']
html
7

In [2]:
# Loop over list

for item in programming_language:
    print(item)

java
R
C
C++
python
javascript
html

In [2]:
## add element to list use append 

new_skill = 'python'

skills = ['java','R','C++']

skills.append(new_skill)

print(skills)

['java', 'R', 'C++', 'python']

### Dictionary

In [4]:
# Dicts
# Initialize a dictionary
trading_pnl = {
      "title": "Trading Log",
      "03-18-2019": -224,
      "03-19-2019": 352,
      "03-20-2019": 252}
    
## access value by call key

print(trading_pnl["03-19-2019"])

352

In [5]:
## iterate through dictionary

for key in trading_pnl:
    print(key)

#for key in trading_pnl:
#    value = trading_pnl[key]
#    print(value)

#for key, value in trading_pnl.items():
#   print(key,value)

title
03-18-2019
03-19-2019
03-20-2019

In [8]:
# Traverse/access nested objects
# List of Dicts
ceo_nested_dict = [
  {
      "name": "Warren Buffet",
      "age": 88,
      "occupation": "CEO of Berkshire Hathaway"
  },
  {
      "name": "Jeff Bezos",
      "age": 55,
      "occupation": "CEO of Amazon"
  }
]

## get first entry
print(ceo_nested_dict[0])

## get name of first entry

print(ceo_nested_dict[0]['name'])

{'name': 'Warren Buffet', 'age': 88, 'occupation': 'CEO of Berkshire Hathaway'}
Warren Buffet

## Function

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Build Function make block of codes run everytime you call it

In [11]:
## how we caculate sum of list

number_list_1 = [1,2,4,5,7]

sum_of_all_1 = 0
for number in number_list_1:
    sum_of_all_1 = sum_of_all_1 + number
print(sum_of_all_1)

19

In [12]:
## how about we have new list

number_list_2 = [3,2,5,5,7]

sum_of_all_2 = 0
for number in number_list_2:
    sum_of_all_2 = sum_of_all_2 + number
print(sum_of_all_2)

22

In [13]:
## make a function to run the logic of sum of list 

def get_sum_list(your_list):
    sum_of_all = 0
    for number in your_list:
        sum_of_all = sum_of_all + number   
    return sum_of_all

sum_of_all_1 = get_sum_list(number_list_1)
sum_of_all_2 = get_sum_list(number_list_2)

print(sum_of_all_1)
print(sum_of_all_2)

19
22

# Refresher Activity: Email Marketing

In this activity, you will apply specific skills learned in the previous lessons to a financial use case.

## Background

A company's marketing department wants to understand the differences in purchasing activity among the firm's customers in order to create personalized email newsletters for each customer.

Harold has been asked to categorize customers based on their sales revenue and assign a business tier: platinum, gold, silver, or bronze. Then, depending on the assigned business tier, he needs to generate a personalized message for each customer.

Help Harold create a program that will achieve the marketing department's goals––and impress them!

## Instructions

* Create a function named `create_greeting` that takes in `first_name`, `last_name`, and `revenue` as parameters, and returns a dynamic greeting based on revenue conditionals:

  * Platinum = 3001+
  * Gold = 2001–3000
  * Silver = 1001–2000
  * Bronze = 0–1000

* Create a for loop that iterates through `customers` and prints out the constructed greeting for each customer.

In [14]:
# List of dicts
customers = [
    { "first_name": "Tom", "last_name": "Bell", "revenue": 0 },
    { "first_name": "Maggie", "last_name": "Johnson", "revenue": 1032 },
    { "first_name": "John", "last_name": "Spectre", "revenue": 2543 },
    { "first_name": "Susy", "last_name": "Simmons", "revenue": 5322 }
]

# @TODO Define a function that accepts a customer first_name, last_name, and
# revenue and returns a custom greeting with the full name.
# Use these ranges to determine the business tier (and corresponding message)
# for each customer.
#   Platinum = 3001+
#   Gold = 2001-3000
#   Silver = 1001-2000
#   Bronze = 0-1000

def create_greeting(first_name, last_name, revenue):
    
    # if revenue greater then 3000 then platinum member
    if revenue > 3000:
        greeting = f"Hi {first_name} {last_name}! Thank you for your business of ${revenue}! You are a platinum member."
    
    
    # finish the rest conditional statement
    

    # return
    return greeting

# @TODO: Loop through the list of customers and use your function to print

for customer in customers:
    ## fill the code blow to print the greeting massages by call create_greeting function with right input.
    greeting =
    print(greeting)

SyntaxError: invalid syntax (<ipython-input-14-441b4156f28d>, line 35)

### Solution for Refresher Activity: Email Marketing

In [19]:
# List of dicts
customers = [
    { "first_name": "Tom", "last_name": "Bell", "revenue": 0 },
    { "first_name": "Maggie", "last_name": "Johnson", "revenue": 1032 },
    { "first_name": "John", "last_name": "Spectre", "revenue": 2543 },
    { "first_name": "Susy", "last_name": "Simmons", "revenue": 5322 }
]


def create_greeting(first_name, last_name, revenue):

    if revenue > 3000:
        greeting = f"Hi {first_name} {last_name}! Thank you for your business of ${revenue}! You are a platinum member."
    elif (revenue > 2000 and revenue <= 3000):
        greeting = f"Hi {first_name} {last_name}! Thank you for your business of ${revenue}! You are a gold member."
    elif (revenue > 1000 and revenue <= 2000):
        greeting = f"Hi {first_name} {last_name}! Thank you for your business of ${revenue}! You are a silver member."
    elif (revenue >= 0  and revenue <= 1000):
        greeting = f"Hi {first_name} {last_name}! Thank you for your business of ${revenue}! You are a bronze member."

    return greeting


# Loop through the list of customers and use your function to print custom greetings for each customer.
for customer in customers:
    greeting = create_greeting(customer['first_name'], customer['last_name'], customer['revenue'])
    print(greeting)

Hi Tom Bell! Thank you for your business of $0! You are a bronze member.
Hi Maggie Johnson! Thank you for your business of $1032! You are a silver member.
Hi John Spectre! Thank you for your business of $2543! You are a gold member.
Hi Susy Simmons! Thank you for your business of $5322! You are a platinum member.

# Part 1:  Time Value of Money

### Logic build the future value

In [22]:
present_value = 10000
interest_rate = .1
compounding_periods = 1
years = 3

future_value = present_value * ((1 + (interest_rate / compounding_periods))**(compounding_periods * years))
future_value_formatted = round(future_value, 2)

print(future_value_formatted)

13310.0

### make calculate_future_value function

In [24]:
def calculate_future_value(present_value, interest_rate, compounding_periods, years):
    """
    Calculates the future value of money given the present_value, interest rate, compounding period, and number of years.
    Args:
        present_value (float): The present value
        interest_rate (float): The interest rate
        periods (int): The compounding period
        years (int): The number of years
    Returns:
        The future value of money.
    """

    future_value = present_value * ((1 + (interest_rate / compounding_periods))**(compounding_periods * years))
    future_value_formatted = round(future_value, 2)

    return future_value_formatted

In [26]:
# Set the values
present_value = 10000
interest_rate = .1
compounding_periods = 1
years = 3

# Call the calculate_future_value() function
calculated_future_value = calculate_future_value(present_value, interest_rate, compounding_periods, years)

# Print out the future_value result
print(f"The future value of ${present_value} at an interest rate of {interest_rate} compounded {compounding_periods} time(s) every year over {years} years is ${calculated_future_value}")

The future value of $10000 at an interest rate of 0.1 compounded 1 time(s) every year over 3 years is $13310.0

## Zero-Coupon Bonds

In this activity, you will calculate the present value of a zero-coupon bond from its future value, and compare the resulting present value to its selling price in order to determine whether or not the bond is worth purchasing.

## Background

A zero-coupon bond is a debt security that does not pay interest (a coupon) as an annual cash flow; instead, it simply distributes a lump sum, or its face value, upon bond maturity (when the bond completes its duration). Zero-coupon bonds trade at a discount to their future value.

## Instructions

Using the [starter file](Unsolved/zero_coupon_bonds.py), walk through the following steps.

* Recreate the `present_value` formula as a function in Python. Make sure the function has the following parameters:

  * `future_value`: This is equivalent to the face value, or maturity value, of bonds; a lump sum given at the end of the duration of the bond.

  * `discount_rate`: This is the rate of return over the duration of the bond.

  * `compounding_periods`: Assumed to be equal to 1 for bonds.

  * `years`: The number of years constituting the duration of the bond.

* Pass the bond parameters into the `present_value` function and return the value to a variable `bond_value`.

* Compare the `bond_value` to its `price` and determine if the bond is worth purchasing or not.

  * If the bond is selling at a `discount`, purchase the bond.

  * Else if the bond is selling at a `premium`, do not purchase the bond.

  * Else the bond is selling at its fair market value, you're neutral to the decision.

## Hint

Don't overthink it! We are simply calculating the present value of a future value! If you need to refer to the present value formula, look to the slides.

---

In [ ]:
## try to build the logic to calculate present value

price = 700
future_value = 1000
discount_rate = .1
compounding_periods = 1
years = 5

In [ ]:


# @TODO: Create a function to calculate_present_value.
# try to transfer the logic you did to function.

In [28]:
# Intialize the zero-coupon bond parameters, assume compounding period is equal to 1
price = 700
future_value = 1000
discount_rate = .1
compounding_periods = 1
years = 5

# @TODO: Call the calculate_present_value() function and assign to a variables


# @TODO: Determine if the bond is worth it

### Solution

In [27]:
# Function to calculate present value
def calculate_present_value(future_value, discount_rate, compounding_periods, years):
    """
    Calculates the present value of money given the future_value, interest rate, compounding period, and number of years.
    Args:
        future_value (float): The future value
        discount_rate (float): The interest rate
        compounding_periods (int): The compounding period
        time_to_maturity (int): The number of years
    Returns:
        The present value of money.
    """

    present_value = future_value / (
        (1 + (discount_rate / compounding_periods)) ** (compounding_periods * years)
    )
    present_value_formatted = round(present_value, 2)

    return present_value_formatted


# Initialize the zero-coupon bond parameters, assume compounding period is equal to 1
price = 700
future_value = 1000
discount_rate = 0.1
compounding_periods = 1
years = 5

# Call the calculate_present_value() function
bond_value = calculate_present_value(
    future_value, discount_rate, compounding_periods, years
)

# Determine if the bond is worth it
if bond_value > price:
    discount = round(bond_value - price, 2)
    print(f"The bond is selling at a price of ${price} and is valued at ${bond_value}.")
    print(f"A discount of {discount} exists, therefore you want to buy the bond.")
elif bond_value < price:
    premium = round(price - bond_value, 2)
    print(f"The bond is selling at a price of ${price} and is valued at ${bond_value}.")
    print(f"A premium of {premium} exists, therefore you do not want to buy the bond.")
else:
    print(f"The bond is selling at a price of ${price} and is valued at ${bond_value}.")
    print(f"The bond is selling at its present value, you are neutral.")

The bond is selling at a price of $700 and is valued at $620.92.
A premium of 79.08 exists, therefore you do not want to buy the bond.

# Part 2: Import

In [36]:
# Call the print_hello() function via a reference to
# the imported module functions.py
import functions

## call the print_hello() function from functions model
functions.print_hello()

## call print_yes() function from functions model
functions.print_yes()

hello
yes

In [37]:
# Call the print_hello() function imported directly from functions.py
from functions import print_hello
print_hello()

hello

## Numpy

NumPy is a Python library that provides fast input/output, or I/O, on multidimensional or nested array objects. Among other things, NumPy can be used as a scientific computing or financial analysis tool.

A Numpy offshoot library applicable to fintech is called numpy-financial. The built-in NPV function from the NumPy Financial library makes calculating NPV values simple so that you don't have to reinvent the wheel.

Note that NumPy Financial may not be installed for many students, take the opportunity to walk them though using `conda install -c conda-forge numpy-financial`
# Import the NumPy library

In [38]:
# Import the NumPy library (for most calculations)
import numpy

# Import the NumPy Financial library (for some finance-specific calculations)
import numpy_financial as npf

# Initialize variables
interest_rate = .1
cash_flows = [-1000, 400, 400, 400, 400]

# Call the NPV function from the NumPy Financial library
net_present_value = npf.npv(interest_rate, cash_flows)
print(f"NPV = {net_present_value}")

NPV = 267.94617853971704

# Net Present Value

In this activity, you will conduct financial analysis on three potential company projects that are categorized as conservative, neutral, and aggressive. Then, you will use the NPV function to determine which project scenario is the optimal choice.

## Background

NPV, or net present value, compares the initial investment of a project to the sum of all the present values of the subsequent projected cash flows. Positive NPV values indicate a project that is profitable and should be considered; negative NPV values indicate a project that is not profitable and should not be considered.

In this activity, you will conduct financial analysis on three project scenarios: conservative, neutral, and aggressive. Each scenario requires an initial investment to generate the resulting cash flows for the following four years.

You will use the NPV function from the NumPy Financial library to calculate the NPV values for each project scenario, and determine the scenario that has the highest NPV value, or the project that is the optimal choice.

## Instructions


1. Import the NumPy Financial (`numpy_financial`) library. You may need to run `conda install -c conda-forge numpy-financial` in your terminal in order to install this library.

2. Call the NumPy Financial NPV function for each of the three project scenarios (conservative, neutral, aggressive).

3. Assign the return values to a corresponding scenario key in a `npv_dict` dictionary.

4. Print out the project scenario that holds the max NPV value from the `npv_dict` dictionary.

Your results should look similar to the following:

```
{'conservative': 267.94617853971704, 'neutral': 401.91926780957544, 'aggressive': 285.8923570794341}
The optimal project scenario to undertake is 'neutral' with a NPV of 401.91926780957544
```

## Challenge

Use a for loop and an if-else conditional to calculate the max NPV value and associated key from the `npv_dict` dictionary. This will eliminate the need to manually choose the project scenario that has the max NPV value.

Your results should look similar to the following:

```
conservative 267.94617853971704
neutral 401.91926780957544
aggressive 285.8923570794341
---------------------------------------------------------
The project scenario with the max NPV value is 'neutral' with a NPV of 401.91926780957544
```

---

© 2020 Trilogy Education Services

In [39]:
import numpy

In [43]:
# @TODO: Import the NumPy Financial (numpy_financial) library
# @TODO: You may need to run `pip install numpy-financial` in your terminal to install the library

# Discount Rate
discount_rate = .1

# Initial Investment, Cash Flow 1, Cash Flow 2, Cash Flow 3, Cash Flow 4
cash_flows_conservative = [-1000, 400, 400, 400, 400]
cash_flows_neutral = [-1500, 600, 600, 600, 600]
cash_flows_aggressive = [-2250, 800, 800, 800, 800]

# @TODO: Initialize dictionary to hold NPV return values
npv_dict = {}

# @TODO: Calculate the NPV for each scenario

## EG1:
npv_dict['conservative'] = npf.npv(discount_rate, cash_flows_conservative)
npv_dict['neutral'] = npf.npv(discount_rate, cash_flows_neutral)
npv_dict['aggressive'] = npf.npv(discount_rate, cash_flows_aggressive)

print(npv_dict)

# @TODO: Manually Choose the project with the highest NPV value

print(f"The optimal project scenario to undertake is 'neutral' with a NPV of {npv_dict['neutral']}")

{'conservative': 267.94617853971704, 'neutral': 401.91926780957544, 'aggressive': 285.8923570794341}
The optimal project scenario to undertake is 'neutral' with a NPV of 401.91926780957544

### Solution

In [ ]:

# Import the NumPy Financial library
import numpy_financial as npf

# Discount Rate
discount_rate = .1

# Initial Investment, Cash Flow 1, Cash Flow 2, Cash Flow 3, Cash Flow 4
cash_flows_conservative = [-1000, 400, 400, 400, 400]
cash_flows_neutral = [-1500, 600, 600, 600, 600]
cash_flows_aggressive = [-2250, 800, 800, 800, 800]

# Initialize dictionary to hold NPV return values
npv_dict = {}

# Calculate the NPV for each scenario
npv_dict['conservative'] = npf.npv(discount_rate, cash_flows_conservative)
npv_dict['neutral'] = npf.npv(discount_rate, cash_flows_neutral)
npv_dict['aggressive'] = npf.npv(discount_rate, cash_flows_aggressive)

# Manually choose the project with the highest NPV value
print(npv_dict)
print(f"The optimal project scenario to undertake is 'neutral' with a NPV of {npv_dict['neutral']}")

# Part 3: File I/O （like do terminal in python）

Data will not (and should not) always be hard-coded within a Python file. Often, data is saved within a file and accessed externally in order to perform some kind of data manipulation or analysis.

File pathing is extremely important when attempting to access files saved within a folder structure.

Python natively supports the input and output of files, and the pathlib library makes file pathing easy.

## Python OS

operation system interfaces

The OS module in python provides functions for interacting with the operating system. OS, comes under Python’s standard utility modules. This module provides a portable way of using operating system dependent functionality.

os.getcwd(): Function os.getcwd(), returns the Current Working Directory(CWD) of the file.

os.mkdir(): We can create a new directory.

os.chdir(): Changing the Current Working Directory.

os.listdir(): List Files and Sub-directories

In [47]:
import os

print(os.getcwd()) # This is your current working directory (cwd)

/Users/jc/Desktop/Data

In [48]:
os.chdir("..") # We can change our directory with os.chdir(), '..' tells the system to move up a dir

print(os.getcwd())

/Users/jc/Desktop

In [52]:
import pandas as pd
print(os.getcwd())
os.chdir("../..")
print(os.getcwd())
os.chdir("/Users/jc/Desktop/Data/")
print(os.getcwd())

df = pd.read_csv("/Users/jc/Desktop/Data/sales.csv")
df.head()

/Users/jc/Desktop/Data
/Users/jc
/Users/jc/Desktop/Data

      Name  Count  Revenue
0   Andrew      9       58
1     Phil      8      377
2  Madison      5      302
3    Sally      1       75
4    Tyler      1      334

In [53]:
df['average'] = df['Revenue']/df['Count']

df.head()

      Name  Count  Revenue     average
0   Andrew      9       58    6.444444
1     Phil      8      377   47.125000
2  Madison      5      302   60.400000
3    Sally      1       75   75.000000
4    Tyler      1      334  334.000000

In [54]:
df.to_csv("new_file.csv")
print(os.getcwd())

/Users/jc/Desktop/Data

In [60]:
## go to the data folder inorder to read txt file

print(os.getcwd())
print(os.listdir())
os.chdir("../FinTech/2.3/Data")

/Users/jc/Desktop/Data
['aggregate.csv', 'new_file.csv', 'accounting.csv', '.ipynb_checkpoints', 'output.txt', 'sales.csv']

In [61]:
## open txt file

# Open the file in "read" mode ('r') and store the
# contents in the variable "text"
with open('output.txt', 'r') as file:
    # Store all of the text from the file inside a variable called "text"
    # and print the contexts of the text file
    text = file.read()
    print(text)

    # Parse and print the file line by line. The print statement adds an
    # extra line break to each line in the output.
    line_num = 1
    for line in file:
        print(f"line {line_num}: {line}")
        line_num += 1

List of Best Actors:
Nicolas Cage
Betty White
Gary Busey

In [63]:
# Open the output_path as a file object in "write" mode ('w') that allow to add line at beggining of class.
# Write a header line and write the contents of 'text' to the file

with open('output.txt', 'w') as file:
    file.write("This is an output file at beginning of file.\n")
    file.write(text)
    file.write("This is an output file at ending of file.\n")

## Part 4:

## CSV Reader (5 min)

CSV stands for comma-separated values. A CSV file follows a tabular format in which the first line is usually a header containing column names, and each subsequent line is a row containing values that intersect with each row-column pair.

The csv library parses data in order to make it more easily accessible.

The csv library includes a reader() function that parses CSV data by a separator or delimiter, and creates a row list object that contains the values for every row in the CSV data.

### Solution 1 use csv function to read csv file

In [64]:
# Import the pathlib and csv library
import os
import csv

# Set the file path
csvpath ='accounting.csv'

# Initialize variable to hold salaries
salaries = []

# Initialize line_num variable
line_num = 0

# Open the input path as a file object
with open(csvpath, 'r') as csvfile:

    # Print the datatype of the file object
    print(type(csvfile))

    # Pass in the csv file to the csv.reader() function
    # (with ',' as the delmiter/separator) and return the csvreader object
    csvreader = csv.reader(csvfile, delimiter=',')
    # Print the datatype of the csvreader
    print(type(csvreader))

    # Go to the next row from the start of the file
    # (which is often the first row/header) and iterate line_num by 1
    header = next(csvreader)
    line_num += 1
    # Print the header
    print(f"{header} <---- HEADER")

    # Read each row of data after the header
    for row in csvreader:
        # Print the row
        print(row)
        # Set salary variable equal to the value in the 4th column of each row
        salary = int(row[3])
        # Append the row salary value to the list of salaries
        salaries.append(salary)

# Initialize metric variables
max_salary = 0
min_salary = 0
avg_salary = 0
total_salary = 0
count_salary = 0

# Calculate the max, mean, and average of the list of salaries
for salary in salaries:

    # Sum the total and count variables
    total_salary += salary
    count_salary += 1

    # Logic to determine min and max salaries
    if min_salary == 0:
        min_salary = salary
    elif salary > max_salary:
        max_salary = salary
    elif salary < min_salary:
        min_salary = salary

# Calculate the average salary, round to the nearest 2 decimal places
avg_salary = round(total_salary / count_salary, 2)

print(max_salary, min_salary, avg_salary)

<class '_io.TextIOWrapper'>
<class '_csv.reader'>
['First Name', 'Last Name', 'SSN', 'Salary'] <---- HEADER
['Tina', 'Fleming', '619-16-7988', '75000']
['Erica', 'Shah', '164-51-7615', '40000']
['Paula', 'Ortiz', '051-83-3290', '120000']
['James', 'Hendricks', '776-83-2884', '90000']
['Lauren', 'King', '197-94-2398', '60000']
['David', 'Cowan', '252-92-1832', '35000']
['Andrew', 'Burton', '296-23-6842', '150000']
['Julian', 'Baker', '337-40-7543', '75000']
['Scott', 'Castro', '399-46-5595', '50000']
['Billy', 'Rodriguez', '014-18-2503', '65000']
['Darrell', 'Leblanc', '005-82-7918', '40000']
['David', 'Hammond', '561-17-6312', '90000']
150000 35000 74166.67

## Solution 2: read csv file by pandas library to dataframe

#### Pandas (Python programming language for data manipulation and analysis)

#### DataFrames
A dataframe is a table-like structure comprised of a number of Series of data. This means that the columns can represent different types of data, but each column must be of one type. This makes a dataframe align with CSV's and Relational Databases very easily.

    They can be manually generated, imported from CSVs, or loaded from a dictionary

In [65]:
## import pandas 
import pandas as pd

## create dataframe, read in csv file by call .read_csv('your_filename') fucntion
df = pd.read_csv('accounting.csv')
df

   First Name  Last Name          SSN  Salary
0        Tina    Fleming  619-16-7988   75000
1       Erica       Shah  164-51-7615   40000
2       Paula      Ortiz  051-83-3290  120000
3       James  Hendricks  776-83-2884   90000
4      Lauren       King  197-94-2398   60000
5       David      Cowan  252-92-1832   35000
6      Andrew     Burton  296-23-6842  150000
7      Julian      Baker  337-40-7543   75000
8       Scott     Castro  399-46-5595   50000
9       Billy  Rodriguez  014-18-2503   65000
10    Darrell    Leblanc  005-82-7918   40000
11      David    Hammond  561-17-6312   90000

In [66]:
df.head()

  First Name  Last Name          SSN  Salary
0       Tina    Fleming  619-16-7988   75000
1      Erica       Shah  164-51-7615   40000
2      Paula      Ortiz  051-83-3290  120000
3      James  Hendricks  776-83-2884   90000
4     Lauren       King  197-94-2398   60000

In [67]:
# Calculate the max, mean, and average of the list of salaries
max_salary = df['Salary'].max()
min_salary = df['Salary'].min()
avg_salary = df['Salary'].mean()

print(max_salary, min_salary, round(avg_salary,2))

150000 35000 74166.67

# Sales Analysis

In this activity, you will read in the `sales.csv` file to calculate customer revenue averages.

## Instructions

Using the [starter file](Unsolved/Core/sales_analysis_core.py), complete the following steps.

1. Import the pathlib and CSV libraries.

2. Set the `sales.csv` path.

3. Initialize a `records` list.

4. Read and iterate over the `sales.csv` file using `csv.reader()`.

5. Append a new column, average, to the header, and then add the header to the list of records.

6. Set the `name`, `count`, and `revenue` variables and convert strings to ints for numerical calculations.

7. Calculate the simple average (`revenue` over `count`), append the average to the row, and append the row to the list of records.

8. Write the list of records contained in `records` to an output CSV file.

9. Loop over every record in `records`, and use the `writerow()` function to write to an output CSV file.

Your output should look similar to the following:

  ```python
  Name,Count,Revenue,Average
  Andrew,9,58,6.44
  Phil,8,377,47.12
  Madison,5,302,60.4
  Sally,1,75,75.0
  Tyler,1,334,334.0
  Billy,7,146,20.86
  Steve,1,178,178.0
  Madison,7,313,44.71
  Sarah,8,103,12.88
  Tim,5,344,68.8
  Andrew,5,349,69.8
  Phil,8,61,7.62
  Madison,4,196,49.0
  Carl,1,374,374.0
  Devon,9,220,24.44
  Megan,9,321,35.67
  Sarah,7,277,39.57
  David,2,246,123.0
  Sally,9,198,22.0
  Tom,5,221,44.2
  Andrew,1,191,191.0
  Paul,5,399,79.8
  Carl,1,300,300.0
  Tim,1,345,345.0
  Madison,4,202,50.5
  John,4,305,76.25
  Phil,6,249,41.5
  Madison,7,113,16.14
  Sally,6,256,42.67
  ```

In [68]:
## Pandas solution

df = pd.read_csv('sales.csv')

df.head()

      Name  Count  Revenue
0   Andrew      9       58
1     Phil      8      377
2  Madison      5      302
3    Sally      1       75
4    Tyler      1      334

In [72]:
df['average'] = df['Revenue']/df['Count']

df.head()

      Name  Count  Revenue     average
0   Andrew      9       58    6.444444
1     Phil      8      377   47.125000
2  Madison      5      302   60.400000
3    Sally      1       75   75.000000
4    Tyler      1      334  334.000000

In [73]:
# Import the pathlib and csv library
from pathlib import Path
import csv

# Set the file path
csvpath = Path("sales.csv")

# Initialize dictionary
analysis = {}

# Open the csv file as an object
with open(csvpath, "r") as csvfile:

    # Pass in the csv file to the csv.reader() function
    # (with ',' as the delmiter/separator) and return the csvreader object
    csvreader = csv.reader(csvfile, delimiter=",")

    # Read the header row first (skip this step if there is no header)
    csv_header = next(csvreader)
    # Print the header


    # Read each row of data after the header
    for row in csvreader:
        # Print the row

        # Set the 'name', 'count', and 'revenue' variables for better
        # readability, convert strings to ints for numerical calculations
        name = row[0]
        count = int(row[1])
        revenue = int(row[2])

        # Calculate the average and round to the nearest 2 decimal places
        average = round(revenue / count, 2)

        # If name is not already in the analysis dict, initialize the dictionary
        # Else continue to add to the existing key and nested key-value pairs
        if name not in analysis.keys():
            analysis[name] = {"count": count, "revenue": revenue}
        else:
            analysis[name]["count"] += count
            analysis[name]["revenue"] += revenue

# Set the header for aggregate.csv
header = ["Name", "Count", "Revenue", "Average"]

# Set the path for the aggregate.csv
aggregate_path = Path("aggregate.csv")

# Open the output path as a file and pass into the 'csv.writer()' function
# Set the delimiter/separater as a ','
with open(aggregate_path, "w") as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=",")

    # Write the header as the first row
    csvwriter.writerow(header)

    # Loop over every key in analysis and write the associated key (name) and
    # nested key-value pairs (metrics)
    for name in analysis:
        csvwriter.writerow(
            [
                name,
                analysis[name]["count"],
                analysis[name]["revenue"],
                round(analysis[name]["revenue"] / analysis[name]["count"], 2),
            ])