### Import Libraries and Dependencies

In [5]:
# Import libraries and dependencies
import pandas as pd

### Read in CSV as Pandas DataFrame

In [6]:
# Read in CSV data
df_fb = pd.read_csv('fb_google_finance.csv', index_col='Date', parse_dates=True, infer_datetime_format=True)

df_fb.head()

             Close
Date
2019-02-12  165.04
2019-02-13  164.07
2019-02-14  163.95
2019-02-15  162.50
2019-02-19  162.29


`parse_dates`: bool or list of int or names or list of lists or dict, default False
The behavior is as follows:

boolean. If True -> try parsing the index.

list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.

list of lists. e.g. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.

dict, e.g. {‘foo’ : [1, 3]} -> parse columns 1, 3 as date and call result ‘foo’

If a column or index cannot be represented as an array of datetimes, say because of an unparsable value or a mixture of timezones, the column or index will be returned unaltered as an object data type. For non-standard datetime parsing, use pd.to_datetime after pd.read_csv. To parse an index or column with a mixture of timezones, specify date_parser to be a partially-applied pandas.to_datetime() with utc=True. See Parsing a CSV with mixed timezones for more.

Note: A fast-path exists for iso8601-formatted dates.

`infer_datetime_format`: bool, default False
If True and parse_dates is enabled, pandas will attempt to infer the format of the datetime strings in the columns, and if it can be inferred, switch to a faster method of parsing them. In some cases this can increase the parsing speed by 5-10x.

### Slice data for Feb 2019

In [7]:
# Slice data
df_fb_slice = df_fb.loc['2019-02-01':'2019-03-01']

df_fb_slice.head()

             Close
Date
2019-02-12  165.04
2019-02-13  164.07
2019-02-14  163.95
2019-02-15  162.50
2019-02-19  162.29

### Calculate Daily Returns

In [8]:
# Calculate daily returns
fb_daily_returns = df_fb.pct_change()
fb_daily_returns

               Close
Date
2019-02-12       NaN
2019-02-13 -0.005877
2019-02-14 -0.000731
2019-02-15 -0.008844
2019-02-19 -0.001292
...              ...
2019-05-07 -0.021199
2019-05-08 -0.001212
2019-05-09 -0.004696
2019-05-10 -0.001643
2019-05-13 -0.036105

[63 rows x 1 columns]