# Group Dynamics!

Remember those cryptos you purchased back in 2017? Well, they've made you some money! The market is a buzz with recent Cryptocurrency coin price increases. Bitcoin, Ethereum, Bitcoin-cash, Ripple, and Litecoin are doing particularly well! Since cryptos are in high demand again, perform a historical analysis to get a better understanding of crypto average, high, and low prices. Use this information to decide whether or not you should begin re-investing.

In [2]:
# Import Libraries
import pandas as pd

%matplotlib inline

### Load CSV data into Pandas using `read_csv`, as well as arguments `index_col`, `parse_dates`, and `infer_datetime_format`

In [3]:
# Read in CSV file

crypto_data = pd.read_csv("crypto_data.csv", index_col='data_date', parse_dates=True, infer_datetime_format=True)
crypto_data.head()

           cryptocurrency  data_priceUsd     data_time     timestamp
data_date
2017-05-09        bitcoin            NaN  1.494288e+12  1.557285e+12
2017-05-10        bitcoin    1743.723523  1.494374e+12           NaN
2017-05-11        bitcoin    1828.678209  1.494461e+12           NaN
2017-05-12        bitcoin    1776.443919  1.494547e+12           NaN
2017-05-13        bitcoin    1714.964198  1.494634e+12           NaN

### Clean data

In [4]:
# Drop extraneous columns
crypto_data = crypto_data.drop(columns=['data_time','timestamp'])
crypto_data = crypto_data.dropna()
crypto_data.head()

           cryptocurrency  data_priceUsd
data_date
2017-05-10        bitcoin    1743.723523
2017-05-11        bitcoin    1828.678209
2017-05-12        bitcoin    1776.443919
2017-05-13        bitcoin    1714.964198
2017-05-14        bitcoin    1789.278913

### Group data by `cryptocurrency` and plot on the same chart

### Calculate average price across two years for each cryptocurrency

### Calculate max price across two years for each cryptocurrency

### Calculate min price across two years for each cryptocurrency

### What does the data say about crypto performance in the past two years? Should you get back in the game?